* {
    box-sizing: border-box;
    color:black;
    text-decoration-color: black;
}

.btc {
    color: #ffd54f;
}

.topnav {
    margin-top: 1em;
    z-index: 2;
}

.brand-logo{
    margin-left: 1em;
}

.port {
    margin-right: 1em;
}

#circle {
    width: 110vh;
    height: 110vh;
    background: #fbc02d;
    -moz-border-radius: 90vw;
    -webkit-border-radius: 90vw;
    border-radius: 90vw;
    position: absolute;
    left: -30vw;
    top: 1em;
}

video {
    overflow: none;
}

.videoInsert {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    border-radius: 90vw;
    -webkit-border-radius: 90vw;
}

.text {
    width: 50vw;
    margin: auto;
    margin-top: 5em;
    background-color: #fff59d;
    text-align: center;
    padding: 10px;
}

.buttones{
    text-align: center;
    margin-top:8vh;
}

.side-nav{
    z-index: -1;
    margin-top:5vh;
}

.navwrapper{
    z-index: 2
}
.divider{
    margin-top: 50vh;
}

.chart{
    margin-left: 50%;
    width:200%;
}

.price{
    position:absolute;
    top:11vh;
    right:.1vh;
}

.ticker{
    position: absolute;
    top: 66vh;
    right:.1vh;
}

.cash{
    text-align: left;
    margin-left: 5vw;
    padding: 5px;

}
.btc{
    text-align:left;
    margin-left:5vw;
    margin-top: 10vh;
    padding: 5px;
}

.priceWidget{
    margin-left: 14vw;
    margin-right: 16vw;

}

.switch{
    margin: 1px;
}

.card-reveal{
    z-index: 2;
}
.nav-wrapper{
    background-color: #ffd200;
    color:black;
}

a{
    color: black;
}

.brand-logo{
    color: black;
}

.balances{
    background-color: #ffd54f;
    margin-bottom: 4em;
}

body{
    background-image: url("../images/white_carbon.png");
}